-- Base de datos finca_ganadera - Script SQL compatible con MySQL
-- Generado desde SQLite

-- Tabla: usuario
CREATE TABLE usuario (
    id INT PRIMARY KEY,
    username VARCHAR(80) NOT NULL,
    email VARCHAR(120) NOT NULL,
    password_hash VARCHAR(120) NOT NULL,
    nombre VARCHAR(100) NOT NULL,
    apellido VARCHAR(100) NOT NULL,
    telefono VARCHAR(20) NOT NULL,
    direccion VARCHAR(200),
    fecha_registro DATETIME,
    estado VARCHAR(20),
    rol VARCHAR(20)
);

-- Tabla: finca
CREATE TABLE finca (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    direccion VARCHAR(200) NOT NULL,
    extension FLOAT,
    tipo_produccion VARCHAR(50),
    propietario VARCHAR(100),
    telefono VARCHAR(30),
    email VARCHAR(120),
    fecha_fundacion DATE,
    descripcion TEXT,
    ubicacion VARCHAR(200),
    usuario_id INT,
    latitud FLOAT,
    longitud FLOAT,
    poligono_geojson TEXT,
    imagen_mapa VARCHAR(255)
);

-- Tabla: potrero
CREATE TABLE potrero (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    area FLOAT NOT NULL,
    capacidad INT NOT NULL,
    estado VARCHAR(20),
    funcion VARCHAR(200) NOT NULL,
    fecha_creacion DATETIME,
    finca_id INT NOT NULL,
    tipo_pasto VARCHAR(100),
    imagen VARCHAR(255)
);

-- Tabla: empleado
CREATE TABLE empleado (
    id INT PRIMARY KEY,
    cedula VARCHAR(20) NOT NULL,
    nombre VARCHAR(100) NOT NULL,
    apellido VARCHAR(100) NOT NULL,
    telefono VARCHAR(20) NOT NULL,
    direccion VARCHAR(200) NOT NULL,
    cargo VARCHAR(50) NOT NULL,
    fecha_contratacion DATE NOT NULL,
    salario FLOAT NOT NULL,
    estado VARCHAR(20),
    finca_id INT NOT NULL,
    nacionalidad TEXT,
    condiciones_enfermedades TEXT,
    referencia_personal TEXT,
    foto_empleado TEXT,
    foto_cedula TEXT,
    fecha_ingreso DATE,
    referencia_file TEXT,
    alergico_medicamento INT,
    alergias_medicamento TEXT
);

-- Tabla: inventario
CREATE TABLE inventario (
    id INT PRIMARY KEY,
    producto VARCHAR(100) NOT NULL,
    cantidad FLOAT NOT NULL,
    unidad VARCHAR(20) NOT NULL,
    precio_unitario FLOAT NOT NULL,
    fecha_ingreso DATETIME,
    fecha_vencimiento DATE,
    categoria VARCHAR(50) NOT NULL,
    tipo_animal VARCHAR(20),
    finca_id INT NOT NULL
);

-- Tabla: animal
CREATE TABLE animal (
    id INT PRIMARY KEY,
    identificacion VARCHAR(50) NOT NULL,
    nombre VARCHAR(100),
    tipo VARCHAR(20) NOT NULL,
    raza VARCHAR(50) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    peso FLOAT NOT NULL,
    peso_nacimiento FLOAT,
    estado VARCHAR(20),
    potrero_id INT,
    fecha_ingreso DATETIME,
    imagen VARCHAR(200),
    finca_id INT NOT NULL,
    padre_id INT,
    madre_id INT,
    sexo VARCHAR(10),
    color_se±as VARCHAR(200),
    ubicacion_actual VARCHAR(100),
    numero_camada INT,
    peso_promedio_camada FLOAT,
    fecha_servicio DATE,
    semental_utilizado VARCHAR(100),
    fecha_estimada_parto DATE,
    fecha_real_parto DATE,
    lechones_nacidos_vivos INT,
    lechones_nacidos_muertos INT,
    peso_promedio_lechones FLOAT,
    numero_partos INT,
    fecha_inicio_semental DATE,
    numero_servicios_exitosos INT,
    promedio_lechones_por_camada FLOAT,
    fecha_venta DATE,
    comprador VARCHAR(100),
    peso_venta FLOAT,
    precio_venta FLOAT,
    fecha_fallecimiento DATE,
    causa_fallecimiento VARCHAR(200),
    disposicion_final VARCHAR(100),
    observaciones TEXT,
    numero_crias_camada INT,
    peso_promedio_crias DOUBLE,
    produccion_diaria DOUBLE,
    unidad_produccion VARCHAR(20),
    crias_nacidas_vivas INT,
    crias_nacidas_muertas INT,
    peso_promedio_crias_nacimiento DOUBLE,
    promedio_crias_por_camada DOUBLE,
    ubicacion_id INT
);

-- Tabla: movimiento_inventario
CREATE TABLE movimiento_inventario (
    id INT PRIMARY KEY,
    inventario_id INT NOT NULL,
    tipo_movimiento VARCHAR(20) NOT NULL,
    cantidad FLOAT NOT NULL,
    fecha DATETIME,
    motivo VARCHAR(200)
);

-- Tabla: historial_alimentacion
CREATE TABLE historial_alimentacion (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    tipo_alimento VARCHAR(100) NOT NULL,
    marca VARCHAR(100),
    composicion TEXT,
    cantidad_diaria FLOAT,
    unidad VARCHAR(20),
    fecha_inicio DATE NOT NULL,
    fecha_fin DATE,
    observaciones TEXT
);

-- Tabla: historial_salud
CREATE TABLE historial_salud (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    tipo_evento VARCHAR(50) NOT NULL,
    descripcion TEXT NOT NULL,
    fecha_inicio DATE NOT NULL,
    fecha_fin DATE,
    tratamiento TEXT,
    dias_tratamiento INT,
    resultado VARCHAR(50),
    observaciones TEXT
);

-- Tabla: vacuna
CREATE TABLE vacuna (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    tipo_vacuna VARCHAR(100) NOT NULL,
    fecha_aplicacion DATE NOT NULL,
    fecha_proxima DATE NOT NULL,
    observaciones TEXT,
    aplicada_por VARCHAR(100) NOT NULL,
    finca_id INT NOT NULL,
    numero_lote VARCHAR(50),
    fecha_vencimiento DATE,
    empleado_id INT,
    veterinario_nombre VARCHAR(100),
    veterinario_apellido VARCHAR(100),
    veterinario_cargo VARCHAR(100),
    veterinario_telefono VARCHAR(30)
);

-- Tabla: produccion
CREATE TABLE produccion (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    tipo_produccion VARCHAR(50) NOT NULL,
    cantidad FLOAT NOT NULL,
    unidad VARCHAR(20) NOT NULL,
    fecha DATE NOT NULL,
    calidad VARCHAR(20),
    finca_id INT NOT NULL
);

-- Tabla: movimiento_inventario_animal
CREATE TABLE movimiento_inventario_animal (
    id INT PRIMARY KEY,
    inventario_id INT NOT NULL,
    animal_id INT NOT NULL,
    cantidad FLOAT NOT NULL,
    fecha DATETIME,
    motivo VARCHAR(200),
    observaciones TEXT
);

-- Tabla: nota_animal
CREATE TABLE nota_animal (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    nota TEXT NOT NULL,
    fecha DATETIME
);

-- Tabla: historial_potrero
CREATE TABLE historial_potrero (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    potrero_id INT NOT NULL,
    fecha DATETIME,
    motivo VARCHAR(200)
);

-- Tabla: servicio_reproductivo
CREATE TABLE servicio_reproductivo (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    fecha DATE NOT NULL,
    tipo_servicio VARCHAR(30) NOT NULL,
    semental_id INT,
    semental_nombre VARCHAR(100),
    responsable VARCHAR(100),
    observaciones TEXT
);

-- Tabla: diagnostico_prenez
CREATE TABLE diagnostico_prenez (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    fecha DATE NOT NULL,
    resultado VARCHAR(20) NOT NULL,
    metodo VARCHAR(50),
    semanas_gestacion INT,
    observaciones TEXT
);

-- Tabla: parto
CREATE TABLE parto (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    fecha DATE NOT NULL,
    crias_vivas INT,
    crias_muertas INT,
    peso_promedio_crias FLOAT,
    dificultades VARCHAR(200),
    observaciones TEXT
);

-- Tabla: centro_costo
CREATE TABLE centro_costo (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    finca_id INT NOT NULL
);

-- Tabla: ingreso
CREATE TABLE ingreso (
    id INT PRIMARY KEY,
    finca_id INT NOT NULL,
    concepto VARCHAR(100) NOT NULL,
    monto FLOAT NOT NULL,
    fecha DATE NOT NULL,
    descripcion TEXT
);

-- Tabla: gasto
CREATE TABLE gasto (
    id INT PRIMARY KEY,
    finca_id INT NOT NULL,
    centro_costo_id INT,
    categoria VARCHAR(50) NOT NULL,
    monto FLOAT NOT NULL,
    fecha DATE NOT NULL,
    descripcion TEXT,
    potrero_id INT,
    animal_id INT
);

-- Tabla: registro_peso
CREATE TABLE registro_peso (
    id INT PRIMARY KEY,
    animal_id INT NOT NULL,
    fecha DATE NOT NULL,
    peso FLOAT NOT NULL,
    condicion_corporal INT,
    observaciones TEXT
);

-- Tabla: ubicacion
CREATE TABLE ubicacion (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    tipo_ubicacion VARCHAR(50) NOT NULL,
    tipo_animal VARCHAR(50) NOT NULL,
    capacidad INT NOT NULL,
    area FLOAT,
    descripcion TEXT,
    estado VARCHAR(20),
    fecha_creacion DATETIME,
    finca_id INT NOT NULL,
    imagen VARCHAR(255)
);

-- Tabla: alerta_personalizada
CREATE TABLE alerta_personalizada (
    id INT PRIMARY KEY,
    usuario_id INT NOT NULL,
    finca_id INT NOT NULL,
    titulo VARCHAR(200) NOT NULL,
    descripcion TEXT,
    fecha_programada DATETIME NOT NULL,
    tipo_alerta VARCHAR(50) NOT NULL,
    animal_id INT,
    estado VARCHAR(20),
    enviada BOOLEAN,
    fecha_creacion DATETIME,
    repetir BOOLEAN,
    frecuencia VARCHAR(20)
);

-- Tabla: password_reset_token
CREATE TABLE password_reset_token (
    id INT PRIMARY KEY,
    usuario_id INT NOT NULL,
    token VARCHAR(100) NOT NULL,
    fecha_creacion DATETIME,
    fecha_expiracion DATETIME NOT NULL,
    usado BOOLEAN
);

-- Tabla: alembic_version
CREATE TABLE alembic_version (
    version_num VARCHAR(32) PRIMARY KEY
);

-- Tabla: camara
CREATE TABLE camara (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    url VARCHAR(500) NOT NULL,
    estado VARCHAR(20),
    fecha_creacion DATETIME,
    finca_id INT NOT NULL,
    posicion INT
);

